<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a routerLink="/products" class="py-3"  routerLinkActive="active">Products</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2">
          <a routerLink="/register" class="py-3"  routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item mx-2">
          <a routerLink="/login" class="py-3" routerLinkActive="active">login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
